<ion-view class="register-view">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col col-center">
        <h1 class="form-title">Create your account</h1>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="signup_form" class="" novalidate>
          <div class="list input-fields">
            <label class="item item-input no-border">
              <i class="icon ion-person person-icon" style="margin-right:20px;"></i>
              <input type="text" name="user_name" placeholder="Username" ng-model="user.userName" required>
            </label>
            <label class="item item-input no-border">
              <i class="icon ion-person person-icon" style="margin-right:20px;"></i>
              <input type="text" name="display_name" placeholder="Name" ng-model="user.displayName" required>
            </label>
            <label class="item item-input no-border">
              <i class="icon ion-email email-icon" style="margin-right:20px;"></i>
              <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
            </label>
            <label class="item item-input no-border"> <!-- show-hide-container-->
              <i class="icon ion-key key-icon" style="margin-right:20px;"></i>
              <input type="password" name="password" placeholder="Password" ng-model="user.password" required> <!--show-hide-input-->
            </label>
            <button type="submit" class="register button button-block" ng-click="doRegister()" ng-disabled="signup_form.$invalid">
              Register
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
